* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.player {
  width: 80%;
  margin: 30px auto;
}
.player .play-action {
  text-align: center;
}
.player .play-action i {
  cursor: pointer;
  font-size: 1.2rem;
}
.player .play-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.process-bar {
  width: 80%;
  height: 10px;
  margin: 30px auto;
  background-color: gray;
  position: relative;
}
.process-bar:hover {
  background-color: greenyellow;
}
.process-bar .process {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0%;
  background-color: red;
}
.process-bar .process span {
  position: absolute;
  top: -1px;
  right: -6px;
  width: 12px;
  height: 12px;
  background-color: blueviolet;
  border-radius: 50%;
}
.time-box {
  position: absolute;
  top: -20px;
  background-color: black;
  color: #fff;
  left: 0;
}
